java_web/.classpath
java_web/.project
java_web/.settings/.jsdtscope
java_web/.settings/org.eclipse.jdt.core.prefs
java_web/.settings/org.eclipse.wst.common.component
java_web/.settings/org.eclipse.wst.common.project.facet.core.xml
java_web/.settings/org.eclipse.wst.jsdt.ui.superType.container
java_web/.settings/org.eclipse.wst.jsdt.ui.superType.name
java_web/WebContent/META-INF/MANIFEST.MF
